*.pyc
*.h5
setup.sh
.ipynb*
*.o
*.so
*.c
LabTools/Simulating_FEE_on_Kr_DATA_vhb.ipynb
LabTools/Simulating_FEE_on_Kr_DATA_accum_vhb.ipynb
LabTools/Simulating_FEE_on_Kr_DATA_vhb.ipynb
LabTools/Simulating_FEE_on_Kr_DATA_vhb.ipynb
Notebooks/DNN/PMaps_H5.ipynb



LabTools/Simulating_FEE_on_Kr_DATA_vhb.ipynb

*.sqlite3

Notebooks/Deconvolution/New_SCUM.ipynb
